*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

body{
	background: #000;
	color: #999;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

header{
	background: #35424a;
	color: #ffffff;
	overflow: hidden; 
	margin: auto;
	border-bottom: #e8491d 5px solid;
	height: 10vh;
}

header .nav{
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;

}

header .nav ul{
	display: flex;
}

header .nav ul li{
	padding: 0 10px;
	text-transform: uppercase;
}

header .nav ul li:hover{
	color: #e8491d;
}

header .nav ul li span{
	padding-bottom: 2px;
}

header .nav ul li span:hover{
	border-bottom: 2px solid #e8491d;
}


.showcase::after{
	content: '';
	height: 90vh;
	width: 100%;
	background-image: url(../img/showcaseBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: relative;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: all 1000ms;
}

.showcase:hover::after{
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.showcase:hover .content{
	filter: blur(0px);
	-webkit-filter: blur(0px);
	z-index: 1;
}

.showcase .content{
	position: absolute;
	top: 45%;
	left: 50%;
	text-align: center;
	color: #fff;
	-webkit-filter: blur(10px);
	transition: all 1000ms;
}

.showcase .content .title h1{
	font-size: 65px;
	margin-bottom: 10px;
}

.showcase .content .text p{
	font-size: 30px;
}

.tabs{
	border-top: #e8491d 5px solid;
	border-bottom: #e8491d 5px solid;
	padding: 10px 0 30px 0;
}

.tabs:hover h1{
	color: #e8491d;
}

.tabs .container {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tabs .container .tab h3{
	padding-top: 8px;
}

.tabs .container .tab img{
	width: 120px;
}

.tabs .container .tab a{
	display: inline-block;
	padding-top: 10px;
	color: #0067b8;
	text-transform: uppercase;
	font-weight: bold; 
}

.tabs .container .tab a:hover i{
	margin-left: 8px;
}

.table-container{
	width: 80%;
	margin: auto;
	padding-bottom: 30px;
}

.table-container:hover h1{
	color: #e8491d;
}

.table-container .table{
	width: 100%;
	margin-top: 6px;
	border-spacing: 0; 
	table-layout: fixed;
}

.table-container .table thead th{
	font-size: 36px;
	text-transform: uppercase;
	padding: 6px;
}

.table-container .table tbody tr td{
	padding: 6px 20px;
	text-align: center;	
}

.table-container .table thead th{
	background: #222;
}

.table-container .table tbody tr:nth-child(even){
	background: #222;
}

footer{
	background: #35424a;
	padding: 15px;
}

footer .newsletter{
	width: 80%;
	margin: auto;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

footer .newsletter:hover h1{
	color: #e8491d;	
}

footer .newsletter form{
	margin:15px;
}

footer .newsletter input{
	padding: 4px;
	height: 38px;
	width: 250px;
}

footer .newsletter button{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding: 0 20px;
	color: #ffffff;
}
